<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js%22%3E</script>
        <title>Nombres de vêlages</title>
    </head>
    <body> 
        <canvas id="graphique" width="200px" height="200px"></canvas>
        <script>
            var ctx = document.getElementById('graphique').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{id_date_velage | safe}},
                datasets: [{
                    label: 'Dates auxquels un velage a eu lieu',
                    data: {{id_date_velage | safe}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)'
                    ],
                    borderWidth:3
                }]
            },
        }
            )
        </script>
    </body>
</html>
